@page "/detaliemp/{Id:int}"
@inject ISessionStorageService session
@inject IUntiWork db

@if (emplyee is not null)
{
    <div class="container rightdv">
        <HeadPage NameArbic="@emplyee.Name.GetFirstAndlast()" NameEnglish="@emplyee.Name.NameToEnglish()"></HeadPage>
         <div class="text-left mb-3">
             <button type="button" class="btn btn-outline-primary" @onclick="backin"><i class="bi bi-arrow-left"></i></button>
         </div>
        @if (emplyee.type == TypeSalery.BaseAndPersant || emplyee.type == TypeSalery.Persant)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h3>جميع مبيعات هذا الموظف : @emplyee.TotalAllSalePrice.ToMoney()</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @progess%" aria-valuenow="@progess" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        }
        <div class="card mb-5">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-7">
                        @emplyee.TitleJop
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-light text-dark" data-toggle="modal" data-target="#editemplyee"><i class="bi bi-pencil-square"></i></button>
                    </div>
                </div>

            </div>
            <div class="card-body text-right">
                <h5 class="card-title"> ساعات العمل : @emplyee.TotalHourWork ساعة</h5>
                <div class="row justify-content-between">
                    <div class="col-md-8 text-dark text-right">
                        <h3>الاســـم : @emplyee.Name</h3>
                        <h3>السن : @emplyee.Age</h3>
                        <h3>فترة العمل بالشركة : @emplyee.AgeInWork</h3>
                        <h3>نظام الراتب : @emplyee.type</h3>
                        <h3>الراتب الثابت : @emplyee.BaseSalery.ToMoney() (@emplyee.BaseSalery.ConvertNumberToText())</h3>
                        <h3>النسبة : @emplyee.Persant %</h3>
                        <h3>يوم الاجازة : @emplyee.WeekEnd</h3>
                        <hr />
                        <div class="text-primary text-right">
                            <h2 class="text-black-50"><em>معلومات العمل</em></h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>اجمالى ساعات العمل هذا الشهر : @emplyee.GetHourWorkThisMonth</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>قيمة اجرة بالساعة : @emplyee.GetHourWorkThisMonth</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>المبلغ المستحق من الراتب الاساسى : @emplyee.BaseSaleryOnThisMonth</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>اجمالى المستحق النسبة: @emplyee.GetsalesPercantThisMonth</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>قيمة الخصم من الراتب هذا الشهر : @emplyee.GetDiscountSaleryOnThisMonth</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>قيمة الاوفر تيم لهذا الشهر : @emplyee.GetOverTimeThismonth</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="@emplyee.Image.ShowImage()" class="img-thumbnail" style="width:300px" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-5">
            @if (emplyee.AllSalesFormThisEmplyee != null)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-right">
                            <h2 class="text-secondary">اجمالى عمليان البيع</h2>
                            <ShowTable itemtype="ResertvationAndSale" Context="e" Class="table-light" TheadClass="thead-light" Items="emplyee.AllSalesFormThisEmplyee">
                                <Columns>
                                    <th>العميل</th>
                                    <th>الوحدة</th>
                                    <th>تاريخ</th>
                                </Columns>
                                <Rows>
                                    <td>@e.ToCustomer.NameCustomer</td>
                                    <td>
                                        (@e.Unit.Category) رقم :  @e.Unit.UnitNumber الدور : @e.Unit.Floor.NameFloor | @e.Unit.Project.ProjectName
                                    </td>
                                    <td>@e.DateSale.ToDate()</td>
                                </Rows>
                            </ShowTable>
                        </div>
                    </div>
                </div>
            }
            @if (emplyee.AllSaleToFinishUnit != null)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-right">
                            <h2 class="text-secondary">اجمالى عمليان التشطيب</h2>
                            <ShowTable itemtype="FinishesUnit" Context="e" Class="table-light" TheadClass="thead-light" Items="emplyee.AllSaleToFinishUnit">
                                <Columns>
                                    <th>العميل</th>
                                    <th>الوحدة</th>
                                    <th>تاريخ</th>
                                </Columns>
                                <Rows>
                                    <td>@e.Customer.NameCustomer</td>
                                    <td>
                                        (@e.Category.CategoryName) مساحة : @e.SapceMetar M
                                    </td>
                                    <td>@e.date.ToDate()</td>
                                </Rows>
                            </ShowTable>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row mb-5">
            @if (emplyee.Reports != null)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-right">
                            <h2 class="text-secondary">التقاير المطلوبة</h2>
                            <ShowTable itemtype="Report" Context="e" Class="table-light" TheadClass="thead-light" Items="emplyee.Reports">
                                <Columns>
                                    <th>التقرير</th>
                                    <th>التاريخ</th>
                                    <th>تم انهاء</th>
                                </Columns>
                                <Rows>
                                    <td>
                                        <Button T_type="int" ModalID="reports" eventBack="GetReport" Class="btn-link" TheValue="e.Id">
                                            <Render>
                                                <span>@e.Titel</span>
                                            </Render>
                                        </Button>
                                    </td>
                                    <td>
                                        @e.Date.Value.ToDate()
                                    </td>
                                    <td>
                                        @if (e.DoneReport)
                                        {
                                            <i class="bi bi-check2-circle text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-x-lg text-danger"></i>
                                        }
                                    </td>
                                </Rows>
                            </ShowTable>
                        </div>
                    </div>
                </div>
            }
            @if (emplyee.TaskCarries != null)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-right">
                            <h2 class="text-secondary">مهام المطلوبة</h2>
                            <ShowTable itemtype="TaskCarry" Context="e" Class="table-light " TheadClass="thead-light" Items="emplyee.TaskCarries">
                                <Columns>
                                    <th>المهمة</th>
                                    <th>النتيجة</th>
                                    <th>تم انهاء</th>
                                </Columns>
                                <Rows>
                                    <td>
                                        @e.TheTask
                                    </td>
                                    <td>
                                        @e.date.ToDate()<br />
                                        @e.Resulte
                                    </td>

                                    <td>
                                        @if (e.DoneTask)
                                        {
                                            <i class="bi bi-check2-circle text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-x-lg text-danger"></i>
                                        }
                                    </td>
                                </Rows>
                            </ShowTable>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}

<!-- Modal Reposrts -->
<div class="modal fade" id="reports" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (showRepost)
                {
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <p>العميل : @report.Customer.NameCustomer</p>
                            <p>المطلوب : @report.Titel</p>
                            <p>تعليق : @report.Comment</p>
                            <p>
                                مقابلة مثمرة :
                                @if (report.IsOkyDone)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-lg text-danger"></i>
                                }
                            </p>
                            <p>
                                غير مهتم :
                                @if (report.DoNotAgree)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-lg text-danger"></i>
                                }
                            </p>
                            <p>
                                يفكر :
                                @if (report.Think)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-lg text-danger"></i>
                                }
                            </p>
                            <p>
                                سياتى الى المقر :
                                @if (report.HeIsCome)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-lg text-danger"></i>
                                }
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editemplyee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body rightdv">
                @if (emplyee != null)
                {
                    <EditForm Model="emplyee">
                    
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group text-right">
                                                    <label>الاسم</label>
                                                    <InputText @bind-Value="emplyee.Name" class="form-control"></InputText>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group text-right">
                                                    <label>نوع الوظيفة</label>
                                                    <InputSelect @bind-Value="emplyee.TheJop" class="form-control">
                                                        @foreach (Jop item in Enum.GetValues(typeof(Jop)))
                                                        {
                                                        <option value="@item">@item.ShowDiscruotionEnum()</option>
                                                        }
                                                </InputSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group text-right">
                                                <label>نوع الراتب</label>
                                                <InputSelect @bind-Value="emplyee.type" class="form-control">
                                                    @foreach (TypeSalery item in Enum.GetValues(typeof(TypeSalery)))
                                                        {
                                                        <option value="@item">@item.ShowDiscruotionEnum()</option>
                                                        }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @if (emplyee.type == TypeSalery.BaseAndPersant)
                                            {
                                                <div class="col-md-3">
                                                    <div class="form-group text-right">
                                                        <label>الراتب الثابت</label>
                                                        <InputNumber @bind-Value="emplyee.BaseSalery" class="form-control"></InputNumber>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group text-right">
                                                        <label>النسبة %</label>
                                                        <InputNumber @bind-Value="emplyee.Persant" class="form-control"></InputNumber>
                                                    </div>
                                                </div>
                                            }
                                            else if (emplyee.type == TypeSalery.Baseonly)
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group text-right">
                                                        <label>الراتب الثابت</label>
                                                        <InputNumber @bind-Value="emplyee.BaseSalery" class="form-control"></InputNumber>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3">
                                                    <div class="form-group text-right">
                                                        <label>النسبة %</label>
                                                        <InputNumber @bind-Value="emplyee.Persant" class="form-control"></InputNumber>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>المسمى الوظيفى</label>
                                                    <InputText @bind-Value="emplyee.TitleJop" class="form-control"></InputText>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>تاريخ الميلاد</label>
                                                    <InputDate @bind-Value="emplyee.DateBirth" class="form-control"></InputDate>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>تاريخ بداية العمل</label>
                                                    <InputDate @bind-Value="emplyee.StartWork" class="form-control"></InputDate>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>ساعة الحضور</label>
                                                    <input type="time" @bind-value="emplyee.StartTimeWork" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>ساعة الانصراف</label>
                                                    <input type="time" @bind-value="emplyee.EndTimeWork" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group text-right">
                                                    <label>يوم الاجازة</label>
                                                    <InputSelect @bind-Value="emplyee.WeekEnd" class="form-control">
                                                        @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
                                                        {
                                                        <option value="@day">@day.ToString()</option>
                                                        }
                                                </InputSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="custom-file text-right">
                                                <InputFile OnChange="getimage" class="custom-file-input"></InputFile>
                                                <label class="custom-file-label">اختر الصورة</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="@emplyee.Image.ShowImage()" class="img-fluid" style="width:75px;" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @onclick="SaveChangeInfo" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>


@code {


    [Parameter]
    public int Id { get; set; }

    [Inject]
    public NavigationManager nav { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var log = await session.GetItemAsync<LogAdmins>("loguser");
        if (!log.ISAdmin)
        {
            nav.NavigateTo("");
        }
        await GetEmplyees();
        if (emplyee.type == TypeSalery.BaseAndPersant || emplyee.type == TypeSalery.Persant)
        {


            GetAllsales();
        }
    }
    void backin()
    {
        nav.NavigateTo("/addemplyee");
        StateHasChanged();
    }
    bool showRepost = false;
    int progess = 0;

    Emplyee? emplyee = null;

    Report? report = null;



    async Task GetEmplyees()
    {
        emplyee = await db.Emplyees.Include(s => s.AllSalesFormThisEmplyee).ThenInclude(u => u.Unit).ThenInclude(p => p.Project).Include(uf => uf.AllSalesFormThisEmplyee)
                         .ThenInclude(u => u.Unit).ThenInclude(f => f.Floor)
                         .Include(s => s.AllSalesFormThisEmplyee).ThenInclude(u => u.Unit).ThenInclude(p => p.Project).Include(uf => uf.AllSalesFormThisEmplyee)
                         .ThenInclude(u => u.ToCustomer)
                         .Include(a => a.AllSaleToFinishUnit).ThenInclude(c => c.Customer)
                         .Include(a => a.AllSaleToFinishUnit).ThenInclude(c => c.Category)
                         .Include(w => w.saleryPayments)
                         .Include(f => f.AttendingAndLeavings)
                         .Include(g => g.Reports).ThenInclude(c => c.Customer)
                         .Include(t => t.TaskCarries).FirstOrDefaultAsync(x => x.Id == Id);
    }

    async Task getimage(InputFileChangeEventArgs e)
    {
        if(e.FileCount > 0)
        {
            var type = Path.GetExtension(e.File.Name);
            if(type == ".jpg" || type == ".png")
            {
                var Stream = new MemoryStream();
                await e.File.OpenReadStream().CopyToAsync(Stream);
                emplyee.Image = Stream.ToArray();
            }
        }
    }

    async Task GetReport(int id)
    {
        showRepost = true;
        report = emplyee.Reports.FirstOrDefault(x => x.Id == id);
    }

    void Closereport()
    {
        showRepost = false;
    }

    async Task SaveChangeInfo()
    {
        await db.SaveChangeAsync();
    }

    void GetAllsales()
    {
        var count = emplyee.CountSaleTask > 0 ? emplyee.CountSaleTask : 1;
        var Counter = 0;
        for (var i = 0m; i < Math.Round(emplyee.TotalAllSalePrice); i += Math.Round((emplyee.TotalAllSalePrice / count)))
        {
            ++Counter;
            if (Counter <= count)
                progess = Counter;

            StateHasChanged();
        }
    }
}
